:root {
  font-family: Montserrat, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: #ebd8ff;
  background-color: #766a92;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
}
body {
  height: 100vh;
}

a {
  font-weight: 500;
  color: #ebd8ff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

p {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: center;
  color: #ebd8ff;
  margin: 0;
}

ul {
  list-style: none;
}
